#home {
	background-color:#000;
	color:#FFF;
	position:absolute;
	left:0px;
	top:7000px;
	width:100%;
	height:40px;
	z-index:1;
}
#fundotop {
	background-color: rgb(0,0,0);
	background-image:url(imgs/TopTile.png);
	position:fixed;
	width:100%;
	margin-left:0px;
	height:70px;
	z-index:4;
}
#menu {
	position:absolute;
	width:100%;
	margin-left:0px;
	height:70px;
	z-index:4;
}
#menuInner {
	vertical-align:middle;
	padding-top:0px;
	color:#999;
	text-align:center;
	position:absolute;
	left:0px;
	margin-top:0px;
	width:130px;
	height:38px;
	z-index:8;
}
#menu1 {
	background-image: url(imgs/TopButton.png);
	vertical-align:middle;
	padding-top:20px;
	color:#999;
	text-align:center;
	position:absolute;
	left:0px;
	margin-top:12px;
	width:130px;
	height:38px;
	z-index:6;
}
#menu15 {
	display:none;
	background-image:url(imgs/buttonon2.png);
	text-align:center;
	position:absolute;
	left:43px;
	margin-top:13px;
	width:160px;
	height:56px;
	z-index:5;
}
#menu2 {
		background-image: url(imgs/TopButton.png);
	text-align:center;
	position:absolute;
	padding-top:20px;
	color:#999;
	left:130px;
	margin-top:12px;
	width:130px;
	height:38px;
	z-index:6;
}
#menu25 {
	display:none;
	background-image:url(imgs/buttonon2.png);
	text-align:center;
	position:absolute;
	left:173px;
	margin-top:13px;
	width:160px;
	height:56px;
	z-index:5;
}
#menu3 {
	background-image: url(imgs/TopButton.png);
	text-align:center;
	position:absolute;
	padding-top:20px;
	color:#999;
	left:260px;
	margin-top:12px;
	width:130px;
	height:38px;
	z-index:6;
}
#menu35 {

	display:none;
	background-image:url(imgs/buttonon2.png);
	text-align:center;
	position:absolute;
	left:302px;
	margin-top:13px;
	width:160px;
	height:56px;
	z-index:5;
}
#menu4 {
	background-image: url(imgs/TopButton.png);
	text-align:center;
	position:absolute;
	padding-top:20px;
	color:#999;
	left:390px;
	margin-top:12px;
	width:130px;
	height:38px;
	z-index:6;
}
#menu45 {
	display:none;
	background-image:url(imgs/buttonon2.png);
	text-align:center;
	position:absolute;
	left:433px;
	margin-top:13px;
	width:160px;
	height:56px;
	z-index:5;
}
#menu5 {
		background-image: url(imgs/TopButton.png);
	text-align:center;
	position:absolute;
	padding-top:20px;
	color:#999;
	left:520px;
	margin-top:12px;
	width:130px;
	height:38px;
	z-index:6;
}
#menu5 {
	display:none;
	background-image:url(imgs/buttonon2.png);
	text-align:center;
	position:absolute;
	left:433px;
	margin-top:13px;
	width:160px;
	height:56px;
	z-index:5;
}
#busca {
	text-align:left;
	position:absolute;
	margin-left:1400px;
	margin-top:23px;
	width:240px;
	height:30px;
	z-index:5;
}
#busca2 {
	text-align:center;
	position:absolute;
	margin-left:0px;
	top:50%;
	margin-top:-15px;
	width:160px;
	height:30px;
	z-index:6;
}
#busca3 {
	text-align:center;
	position:absolute;
	margin-left:165px;
	margin-top:3px;
	width:80px;
	height:40px;
	z-index:6;
}
#search {
	width:160px;
	height:30px;
	border-radius:15px 15px 15px 15px;
	-webkit-border-radius:15px 15px 15px 15px;	
}
#searchbtn {
	width:70px;
	height:25px;
}
#logbusc {
	display:none;
	background-image:url(imgs/busclogon.png);
	margin-left:-55px;
	margin-top:13px;
	width:524px;
	height:56px;
	z-index:5;
}
#logbuschov {
	margin-left:1420px;
	width:510px;
	height:56px;
	margin-top:13px;
	z-index:8;
}
#logintext {
	position:absolute;
	text-align:center;
	color:#CCC;
	position:absolute;
	margin-left:1480px;
	margin-top:25px;
	width:190px;
	height:25px;
	z-index:4;
	float:left;
}
#logintext2 {
	text-align:center;
	color:#CCC;
	position:absolute;
	width:100px;
	height:25px;
	z-index:4;
}
#logintext2:hover {
	position:absolute;
	color:#FFF;
}
#logintext3 {
	text-align:center;
	color:#CCC;
	position:absolute;
	margin-left:140px;
	width:30px;
	height:25px;
	z-index:4;
}
#logintext4 {
	text-align:center;
	color:#CCC;
	position:absolute;
	margin-left:200px;
	width:100px;
	height:25px;
	z-index:4;
}
#logintext4:hover {
	position:absolute;
	color:#FFF;
}
#login {
	display:none;
	position:absolute;
	background-image:url(imgs/signup.png);
	background-repeat: no-repeat;
	right:300px;
	margin-top:70px;
	width:305px;
	height:153px;
	z-index:4;
	padding-left: 10px;
	padding-right: 0px;
}
#login2 {
	display:none;
	position:absolute;
	background-image:url(imgs/signup.png);
	background-repeat: no-repeat;
	right:0px;
	margin-top:70px;
	width:305px;
	height:153px;
	z-index:4;
	padding-left: 10px;
	padding-right: 0px;
}
#btncls {
	margin-left:250px;
	margin-top:10px;
	width:30px;
	height:30px;
	position: absolute;
}
#btncls2 {
	margin-left:250px;
	margin-top:10px;
	width:30px;
	height:30px;
	position: absolute;
}
#btnlog {
	margin-left:200px;
	margin-top:50px;
	width:50px;
	height:30px;
}
#hall {
	position:absolute;
	left:-350px;
	margin-left:50%;
	top:250px;
	width:700px;
	height:400px;
	z-index:10;
}
#bot {
	text-align: center;
	position:fixed;
	background-image:url(imgs/down.png);
	background-repeat:repeat-x;
	bottom:0px;
	width:100%;
	height:200px;
	z-index:2;
}
#bot2 {
	text-align: center;
	position:fixed;
	color:#555;
	bottom:25px;
	left:50%;
	margin-left:-200px;
	width:400px;
	height:50px;
	z-index:2;
}
#diviframebase {
	font-size:36px;
	text-shadow:#CCC;
	text-decoration:blink;
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#333;
	background-color:#CCC;
	position:absolute;
	top:90px;
	margin-left:50%;
	left:-950px;
	width:1900px;
	height:750px;
	z-index:1;
}
#div1234 {
	font-size:36px;
	text-shadow:#CCC;
	text-decoration:blink;
	font-family:Georgia, "Times New Roman", Times, serif;
	background-image:url(imgs/HF.png);
	color:#333;
	position:absolute;
	top:120px;
	margin-left:50%;
	left:-415px;
	width:830px;
	height:183px;
	z-index:1;
}
#divbaseframe {
	font-size:36px;
	text-shadow:#CCC;
	text-decoration:blink;
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#333;
	background-color:#CCC;
	position:absolute;
	top:70px;
	margin-left:50%;
	left:-945px;
	width:1890px;
	height:680px;
	z-index:1;
}
#divpagesframe {
	font-size:36px;
	text-shadow:#CCC;
	text-decoration:blink;
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#333;
	background-color:#CCC;
	position:absolute;
	top:0px;
	margin-left:50%;
	left:-945px;
	width:1890px;
	height:630px;
	z-index:1;
}